Source: kodi-peripheral-joystick
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0), cmake, libtinyxml-dev,
               kodi-addon-dev, pkg-config, libudev-dev
Standards-Version: 4.1.2
Section: libs

Package: kodi-peripheral-joystick
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Joystick peripheral addon for Kodi
 Joystick peripheral addon for Kodi

Package: kodi-peripheral-joystick-dbg
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Joystick peripheral addon for Kodi, debug symbols
 debug symbols for joystick peripheral addon for Kodi
