Source: kodi-audiodecoder-usf
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-addon-dev, zlib1g-dev
Standards-Version: 4.1.2
Section: libs
Homepage: https://kodi.tv

Package: kodi-audiodecoder-usf
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: USF audio decoder for Kodi
  USF audio decoder for Kodi

Package: kodi-audiodecoder-usf-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for USF audio decoder for Kodi
  debug symbols for USF audio decoder for Kodi
