<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="mgba_allow_opposing_directions" values="no|yes" default="no"/>
		<setting label="30002" type="select" id="mgba_color_correction" values="OFF|GBA|GBC|Auto" default="OFF"/>
		<setting label="30003" type="select" id="mgba_force_gbp" values="OFF|ON" default="OFF"/>
		<setting label="30004" type="select" id="mgba_frameskip" values="disabled|auto|auto_threshold|fixed_interval" default="disabled"/>
		<setting label="30005" type="select" id="mgba_frameskip_interval" values="0|1|2|3|4|5|6|7|8|9|10" default="0"/>
		<setting label="30006" type="select" id="mgba_frameskip_threshold" values="33|15|18|21|24|27|30|36|39|42|45|48|51|54|57|60" default="33"/>
		<setting label="30007" type="select" id="mgba_gb_model" values="Autodetect|Game Boy|Super Game Boy|Game Boy Color|Game Boy Advance" default="Autodetect"/>
		<setting label="30008" type="select" id="mgba_idle_optimization" values="Remove Known|Detect and Remove|Don&#39;t Remove" default="Remove Known"/>
		<setting label="30009" type="select" id="mgba_interframe_blending" values="OFF|mix|mix_smart|lcd_ghosting|lcd_ghosting_fast" default="OFF"/>
		<setting label="30010" type="select" id="mgba_sgb_borders" values="ON|OFF" default="ON"/>
		<setting label="30011" type="select" id="mgba_skip_bios" values="OFF|ON" default="OFF"/>
		<setting label="30012" type="select" id="mgba_solar_sensor_level" values="0|sensor|1|2|3|4|5|6|7|8|9|10" default="0"/>
		<setting label="30013" type="select" id="mgba_use_bios" values="ON|OFF" default="ON"/>
	</category>
</settings>
