  body {
    font-size: 12px;
  }

  h1 {
    font-size: 28px; 
  }

  h2 {
    font-size: 18px; 
  }    

  h3 {
    font-size: 12px;
  }    

  h4 {
    font-size: 12px; 
  }    

  #menutab li.m {
    font-size: 11px;
  }
  .pane {
    font-size: 12px;
  }

  table.stdsheet {
    font-size: 12px;
  }
   
  table.stdsheet th {
  }

  
  table.stdsheet tr {
    font-size: 12px; 
  }
  
  table.stdsheet td {
  }

  table.stdsheet td.name {
  }

  table.stdsheet td.desc {
  }

  table.stdsheet td.lang {
  }

  table.stdsheet td.url {
    font-size: 10px; 
  }

  table.stdsheet td.date {
  }

  table.stdsheet td.thxkey {
  }

  table.stdsheet td.thxval {
  }

  table.sheetoddeven {
    font-size: 12px;
  }

  #footline {
    font-size: 0.9em;
  }

  table.imagebox {
    font-size: 12px;
  }


  #documentation {
   font-size: 12px;
  }

  #documentation ul.overview li li{
    font-size: 12px;
  }

  #documentation ul.overview li td{
    font-size: 12px;
  }

  #documentation td.prot {
    font-size: 14px;
  }

  #documentation td.desc {
    font-size: 12px;
  }

  #documentation td.parm {
    font-size: 10px;
  }

  #documentation td.retv {
    font-size: 12px;
  }

  #documentation td.exam {
    font-size: 10px;
  }

  #documentation td.exam b {
  }
