  body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-face-color: #dcdcdc;
    scrollbar-shadow-color: #dcdcdc;
    scrollbar-highlight-color: #F9F9F9;
    scrollbar-3dlight-color: #cccccc;
    scrollbar-darkshadow-color: black;
    scrollbar-track-color: #dcdcdc;
    scrollbar-arrow-color: #000000;
    background-color: #dcdcdc;
  }

  pre {
    color: #000000;
    font-family : monospace;
  }
   
  a {
    text-decoration: none;
  }

  p,b,a,i,tt,li,td,ul,table,img {
  }
   
  h1 {
    font-size: 2.2em; 
    font-weight: bold; font-family: monospace;
    color: #808080;
    letter-spacing:1em;
    text-align: left;
    border-spacing: 25px;
    background-color: #E7E7E7;
    margin: 0 0 0.7em; padding: 0.3em;
    margin-bottom: 10px;
  }

@media all {
  h1 {
    border: 2px solid #8080C0;
  }
}

@media print {
  h1 {
    border: 0px hidden #8080C0;
  }
}

  h2 {
    font-size: x-large; 
    font-family: sans-serif;
    margin: 0 0 0.7em; padding: 0.3em;
    color: #0080C0;
  }    

  h3 {
    font-size: small;
    font-weight: bold; font-family: sans-serif;
    margin: 0 0.5em 0 0.5em; padding-left: 0.5em;
    background-color: #dddddd;
    color: #000000;
  }    

  h4 {
    font-size: small; 
    font-weight: bold; font-family: sans-serif;
    margin: 0.5em 0.5em 0 0.5em; padding: 0.2em;
    color: #0080C0;
  }    

@media all {
  #cssnav {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
  }
}

@media print {
  #cssnav {
    display: none;
    width: 0em;
    left: 0em;
  }
}

html>body #cssnav {
  position: fixed;
}

#cssnav table {
  background-color: #dddddd;
  border: 0px none black;
  padding: 3px;
}

#cssnav td {
  text-align: center;
  vertical-align: text-bottom;
  background-color: #eeeeee;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}


@media all { 
  #menutab {
    float: left;
    margin: 0 0 1.2em; padding: 0;
    top: 2em;
    left: 2em;
    width: 13em;
  }
}


@media print {
  #menutab {
    display: none;
    width: 0em;
    left: 0em;
  }
 }


  #menutab ul.m {
    margin: 0 0 1.2em;
    border-style: solid;
    border-width: 2px;
    border-spacing: 3px;
    padding-left: 1px; 
    padding-right: 1px; 
    border-color:#000000;
    background-color: #F9F9F9;
  }
  
  #menutab li.m {
    font-weight: bold; font-family:  Arial, Helvetica, sans-serif;
    list-style: none;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    /*margin: 0.25em; padding: 0.1em; */
    text-align: right;
    background-color: #EEEEEE;
    color: #8080C0;
  }

  #menutab li.mb {
    font-weight: bold; font-family:  Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0.25em; padding: 0.1em;
    text-align: left;
    background-color: #EEEEEE;
    color: #8080C0;
  }

  #menutab li.mtheme {
    font-weight: bold; font-family:  Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0.25em;
    background-color: #CCCCCC;
    color: #000000;
    text-align: center;
  }

  #menutab li.mgroup {
    font-weight: bold; font-family:  Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0.25em;
    background-color: #DDDDDD;
    color: #000000;
    text-align: center;
   }


  #menutab ul.p {
    margin: 0 0 1.2em;
    border-style: solid;
    border-width: 2px;
    border-spacing: 0px;
    padding-left: 0px; 
    padding-right: 0px; 
    border-color:#8080C0;
    background-color: #8080C0;
  }
  
  #menutab li.p {
    font-family:  Geneva, Arial, Helvetica, sans-serif;
    list-style:none;
    margin: 0; padding: 0.0em;
    color: #000000;
    padding-left: 3px; 
    padding-right: 3px; 
    background-color: #DDDDDD;
  }

  #menutab li.pinfo {
    font-family:  Geneva, Arial, Helvetica, sans-serif;
    list-style:none;
    margin: 0; padding: 0.0em;
    color: #000000;
    padding-left: 3px; 
    padding-right: 3px; 
    background-color: #DDDDDD;
    text-align:  center;
  }

  #menutab li.pheader {
    font-weight: bold; font-family:  Arial, Helvetica, sans-serif;
    list-style: none;
    color: #000000;
    text-align: center;
    padding-left: 3px; 
    padding-right: 3px; 
    background-color: #CCCCCC;
  }


@media all {
  #content {
    margin-left: 14em;
  }
}

@media print {
  #content {
    margin-left: 0em;
  }
}


  * #content {  /* versteckt vor Netscape 4 */
  }

  #content p {
    margin: 1em 0;
  }


@media all {
  .box {
    border-style: solid;
    border-width: 1px;
    border-spacing: 10px;
    border-color:#8080C0;
    background-color: #F9F9F9;
    color: #000000;
    margin-bottom: 1em;
  }
}

@media print {
  .box {
    border-style: none;
    border-width: 0px;
    border-spacing: 0px;
  }
}

  .pane {
    font-size: small;
    background-color: #eeeeee;
    margin: 0 0.5em 2em 0.5em; padding: 0.5em;
  }


  table.stdsheet {
    font-size: small;
    width: 98.5%;
    margin: 0 0.5em 2em 0.5em;
    border-spacing: 2px;
  }
   
  table.stdsheet th {
    font-weight: bold;
    text-align: left;
    background-color: #dddddd;
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: text-top;
  }

  table.stdsheet th.hdcenter {
    text-align: center;
  }

  table.stdsheet th.hdright {
    text-align: right;
  }
  
  table.stdsheet th.hdleft {
    text-align: left;
  }
  
  table.stdsheet tr {
    font-size: small; 
    font-weight: bold; font-family: sans-serif;
    margin: 0 0.5em 0 0.5em; padding: 0.2em;
    background-color: #eeeeee;
    color: #000000;
    vertical-align: text-top;
  }

  
  table.stdsheet td {
    font-weight: normal;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: 100px;
  }

  table.stdsheet td.name {
    font-weight: bold;
    width: 15%;
    text-align: right;
  }

  table.stdsheet td.desc {
    text-align: left;
  }

  table.stdsheet td.lang {
    text-align: left;
  }

  table.stdsheet td.url {
    font-family: monospace;
    text-align: left;
  }

  table.stdsheet td.date {
    font-weight: bold;
    font-family: sans-serif;
    width: 15%;
    text-align: center;
    background-color: #dddddd;
  }

  table.stdsheet td.thxkey {
    font-weight: normal;
    width: 15%;
    text-align: right;
  }

  table.stdsheet td.thxval {
    font-weight: bold;
    text-align: left;
  }

  table.stdsheet td.ml {
    font-family: monospace;
    text-align: left;
  }

  table.stdsheet td.mc {
    font-family: monospace;
    text-align: center;
  }

  table.stdsheet td.mr {
    font-family: monospace;
    text-align: right;
  }


@media all {
  table.stdsheet {
    border: 0px hidden black;
  }

  table.stdsheet th {
    border: 0px hidden black;
  }

  table.stdsheet td {
    border: 0px hidden black;
  }
}


@media print {
  table.stdsheet {
    border: 1px solid black;
    border-spacing: 0px;
  }

  table.stdsheet th {
    border: 1px solid black;
    border-spacing: 0px;
  }

  table.stdsheet td {
    border: 1px solid black;
    border-spacing: 0px;
  }
}


@media all {
  table.sheetoddeven {
    font-size: small;
    font-family:  Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 0px hidden white;
    border-spacing: 1px;
    border-color:#8080C0;
    background-color: #AAAAAA;
    color: #000000;
  }
}

@media print {
  table.sheetoddeven {
    border: 1px solid black;
    border-spacing: 0px;
  }
}


@media all {
  table.sheetoddeven td {
    border: 0px hidden #8080C0;
    padding-left: 3px;
    padding-right: 3px;
  }
  table.sheetoddeven th {
    border: 0px hidden #8080C0;
    padding-left: 3px;
    padding-right: 3px;
  }
}


@media print {
  table.sheetoddeven td {
    border: 1px solid black;
  }
  table.sheetoddeven th {
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
  }
}



  table.sheetoddeven tr {
    text-align: center;
  }

  table.sheetoddeven tr.header {
    color: #000000;
    background-color: #CCCCCC;
    vertical-align: bottom;
  }
  table.sheetoddeven tr.odd {
    background-color: #DDDDDD;
    vertical-align: middle;
  }
  table.sheetoddeven tr.even {
    background-color: #E7E7E7;
    vertical-align: middle;
  }


@media all {
  .topnav {
     margin: 0 0.5em 0.5em 0.5em; padding: 0.2em;
     text-align: right;
   }  
}

@media print {
  .topnav {
     display: none;
     margin: 0; padding: 0em;
   }  
}

  #footline {
    font-size: 0.9em;
    font-family:  monospace;
    clear: both;
    margin: 0 0; padding: 0.1em;
    text-align: right;
    color: #0080C0;
  }


  table.imagebox {
    font-size: small;
    width: 100%;
    border-style: solid;
    border-width: 0px;
    border-spacing: 10px;
    background-color: #EEEEEE;
    color: #000000;
  }


  #documentation {
    background-color: #dcdcdc; 
    padding-left: 1em;
  }


  #documentation .box {
    padding: 1em;
  }

  #documentation h1 {
    letter-spacing: 0.1em;
  }


  #documentation h2 {
    padding-left: 0em;
  }	


  #documentation h4 {
    padding-left: 0em;
    margin-left: 0em;
    margin-top: 2em;
    margin-bottom: 1em;
  }	


  #documentation .license {
    font-weight: bold; font-family: monospace;
    margin-left: 2em;
  }

  #documentation ul.overview {
    list-style-type: none;
    margin-right: 2em;
  }
	
  #documentation ul.overview li {
    margin-top: 1em;
    background-color: #DDDDDD;
    color: #000000;	
  }

  #documentation ul.overview li ul{
    background-color: #EEEEEE;
    color: #000000;	
  }

	
@media all {	
  #documentation ul.overview li li{
    font-size: small;
    font-family: monospace;
    margin-top: 0em;
    background-color: #EEEEEE;
    color: #000000;
    border-bottom-style: dashed;
    border-width: 1px;
  }
}

@media print {	
  #documentation ul.overview li li{
    border-bottom-style: none;
    border-width: 0px;
  }
}

@media all {
  #documentation table {
    border: 1px solid black;
    border-spacing: 0px;
  }

  #documentation td {
    border: 1px hidden black;
  }
}


@media print {
  #documentation table {
    border: 1px solid black;
    border-spacing: 0px;
  }

  #documentation td {
    border: 1px dotted black;
    border-spacing: 0px;
  }
}

  #documentation table {
    width: 95%;
    margin-left: 1.5em;
    margin-bottom: 1em;
  }

  #documentation td {
   padding-left: 1em;
   padding-right: 1em; 
  }

  #documentation td.prot {
    font-size: 1.2em;
    font-family: monospace; 
    background-color: #dddddd;
  }

  #documentation td.desc {
    background-color: #eeeeee;
    border-top: 1px dashed #000000;
  }

  #documentation td.parm {
    font-family: monospace; 
    padding-top: 0.5em;
    background-color: #ffffff;
    border-top: 1px dashed #000000;
  }

  #documentation td.retv {
    background-color: #eeeeee;
    border-top: 1px dashed #000000;
  }

  #documentation td.exam {
    padding-top: 0.5em;
    background-color: #ffffff;
    border-top: 1px dashed #000000;
  }

  #documentation td.exam b {
    font-family: monospace;
  }

  #documentation ul div {
    background-color: #EEEEEE;
  }

  #documentation ul div table {
    border: 0px hidden #8080C0;
    background-color: #EEEEEE;
    color: #000000;	
    width: 97%;
    margin-bottom: 0.5em;
		margin-top: 0.5em;
  }

  #documentation ul div tr {
		padding: 0px;
		margin: 0px;
  }

  #documentation ul div td {
    border-top: 1px solid #E7E7E7;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: text-top;
    font-size: small;
		font-family: sans-serif;
  }

  #documentation ul div td.ht {
		font-weight: bold;
    background-color: #E7E7E7;
		color: #8080C0;
  }

  #documentation ul div td.hv {
		color: #AA0000;
    width: 3em;
    background-color: #E7E7E7;
    text-align: center;
  }

  #documentation ul div td.n {
    border-right: 1px dotted black;
    font-family: monospace;
    width: 20em;
  }

  #documentation ul div td.d {
    border-right: 1px dotted black;
    vertical-align: text-top;
  }

  #documentation ul div td.v {
		color: #AA0000;
    width: 3em;
    text-align: center;
  }

