Source: kodi-game-libretro-beetle-wswan
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-beetle-wswan (>= 0.9.35) | beetle-wswan (>= 0.9.35)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-beetle-wswan
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: Bandai - WonderSwan/Color (Beetle Cygne) core for kodi's retroplayer
 Bandai - WonderSwan/Color (Beetle Cygne) core for kodi's retroplayer
