Source: kodi-game-libretro-fmsx
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-fmsx (>= 4.9.0) | fmsx (>= 4.9.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-fmsx
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: Microsoft - MSX (fMSX) core for kodi's retroplayer
 Microsoft - MSX (fMSX) core for kodi's retroplayer
