Source: kodi-game-libretro-stella
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-stella (>= 3.9.3) | stella (>= 3.9.3)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-stella
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: Atari - 2600 (Stella 2014) core for kodi's retroplayer
 Atari - 2600 (Stella 2014) core for kodi's retroplayer
