Source: kodi-game-libretro-dosbox
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-dosbox (>= 0.74.0) | dosbox (>= 0.74.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-dosbox
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: DOS (DOSBox) core for kodi's retroplayer
 DOS (DOSBox) core for kodi's retroplayer
