Source: kodi-pvr-pctv
Priority: extra
Maintainer: hg1 <gerlach.holger@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-addon-dev,
               libjsoncpp-dev
Standards-Version: 4.1.2
Section: libs

Package: kodi-pvr-pctv
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PCTV PVR for Kodi
 PCTV PVR for Kodi

Package: kodi-pvr-pctv-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for PCTV PVR for Kodi
 debug symbols for PCTV PVR for Kodi
