Source: kodi-game-libretro-beetle-supergrafx
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-beetle-supergrafx (>= 1.23.0) | beetle-supergrafx (>= 1.23.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-beetle-supergrafx
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: NEC - PC Engine SuperGrafx (Beetle SuperGrafx) core for kodi's retroplayer
 NEC - PC Engine SuperGrafx (Beetle SuperGrafx) core for kodi's retroplayer
