Source: kodi-audiodecoder-asap
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-addon-dev
Standards-Version: 4.1.2
Section: libs
Homepage: https://kodi.tv

Package: kodi-audiodecoder-asap
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ASAP audio decoder for Kodi
  ASAP audio decoder for Kodi

Package: kodi-audiodecoder-asap-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for ASAP audio decoder for Kodi
  debug symbols for ASAP audio decoder for Kodi
