<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="virtualjaguar_bios" values="disabled|enabled" default="disabled"/>
		<setting label="30002" type="select" id="virtualjaguar_doom_res_hack" values="disabled|enabled" default="disabled"/>
		<setting label="30003" type="select" id="virtualjaguar_pal" values="disabled|enabled" default="disabled"/>
		<setting label="30004" type="select" id="virtualjaguar_usefastblitter" values="disabled|enabled" default="disabled"/>
	</category>
</settings>
