<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="ngp_gfx_colors" values="16bit|24bit" default="16bit"/>
		<setting label="30002" type="select" id="ngp_language" values="english|japanese" default="english"/>
		<setting label="30003" type="select" id="ngp_sound_sample_rate" values="44100|11025|22050|48000|96000|192000|384000" default="44100"/>
	</category>
</settings>
