Source: kodi-game-libretro-snes9x2002
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-snes9x2002 (>= 7.2.0) | snes9x2002 (>= 7.2.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-snes9x2002
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: Nintendo - SNES / SFC (Snes9x 2002) core for kodi's retroplayer
 Nintendo - SNES / SFC (Snes9x 2002) core for kodi's retroplayer
