<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="gba_hle" values="enabled|disabled" default="enabled"/>
		<setting label="30002" type="select" id="gba_use_mednafen_save_method" values="mednafen|libretro" default="mednafen"/>
	</category>
</settings>
