Source: kodi-audiodecoder-gsf
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-addon-dev,
               zlib1g-dev
Standards-Version: 4.1.2
Section: libs
Homepage: https://kodi.tv

Package: kodi-audiodecoder-gsf
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: 2SF audio decoder for Kodi
  GSF audio decoder for Kodi

Package: kodi-audiodecoder-gsf-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for GSF audio decoder for Kodi
  debug symbols for GSF audio decoder for Kodi
