<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="mame-external_hiscore" values="disabled|enabled" default="disabled"/>
		<setting label="30002" type="select" id="mame_current_adj_brightness" values="default|+1%|+2%|+3%|+4%|+5%|+6%|+7%|+8%|+9%|+10%|+11%|+12%|+13%|+14%|+15%|+16%|+17%|+18%|+19%|+20%|-20%|-19%|-18%|-17%|-16%|-15%|-14%|-13%|-12%|-11%|-10%|-9%|-8%|-7%|-6%|-5%|-4%|-3%|-2%|-1%" default="default"/>
		<setting label="30003" type="select" id="mame_current_adj_contrast" values="default|+1%|+2%|+3%|+4%|+5%|+6%|+7%|+8%|+9%|+10%|+11%|+12%|+13%|+14%|+15%|+16%|+17%|+18%|+19%|+20%|-20%|-19%|-18%|-17%|-16%|-15%|-14%|-13%|-12%|-11%|-10%|-9%|-8%|-7%|-6%|-5%|-4%|-3%|-2%|-1%" default="default"/>
		<setting label="30004" type="select" id="mame_current_adj_gamma" values="default|+1%|+2%|+3%|+4%|+5%|+6%|+7%|+8%|+9%|+10%|+11%|+12%|+13%|+14%|+15%|+16%|+17%|+18%|+19%|+20%|-20%|-19%|-18%|-17%|-16%|-15%|-14%|-13%|-12%|-11%|-10%|-9%|-8%|-7%|-6%|-5%|-4%|-3%|-2%|-1%" default="default"/>
		<setting label="30005" type="select" id="mame_current_aspect_ratio" values="DAR|PAR" default="DAR"/>
		<setting label="30006" type="select" id="mame_current_frame_skip" values="0|1|2|3|4|automatic" default="0"/>
		<setting label="30007" type="select" id="mame_current_mouse_enable" values="enabled|disabled" default="enabled"/>
		<setting label="30008" type="select" id="mame_current_sample_rate" values="48000Hz|44100Hz|32000Hz|22050Hz" default="48000Hz"/>
		<setting label="30009" type="select" id="mame_current_skip_gameinfo" values="disabled|enabled" default="disabled"/>
		<setting label="30010" type="select" id="mame_current_skip_nagscreen" values="enabled|disabled" default="enabled"/>
		<setting label="30011" type="select" id="mame_current_skip_warnings" values="disabled|enabled" default="disabled"/>
		<setting label="30012" type="select" id="mame_current_turbo_button" values="disabled|button 1|button 2|R2 to button 1 mapping|R2 to button 2 mapping" default="disabled"/>
		<setting label="30013" type="select" id="mame_current_turbo_delay" values="medium|slow|fast" default="medium"/>
		<setting label="30014" type="select" id="mame_current_videoapproach1_enable" values="disabled|enabled" default="disabled"/>
	</category>
</settings>
