Source: netbase
Section: admin
Priority: important
Maintainer: Marco d'Itri <md@linux.it>
Standards-Version: 4.4.1.1
Build-Depends: debhelper-compat (= 12)
Vcs-Git: https://salsa.debian.org/md/netbase.git
Vcs-Browser: https://salsa.debian.org/md/netbase

Package: netbase
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Replaces: ebtables (<< 2.0.11-2)
Breaks: ebtables (<< 2.0.11-2)
Description: Basic TCP/IP networking system
 This package provides the necessary infrastructure for basic TCP/IP based
 networking.
 .
 In particular, it supplies common name-to-number mappings in /etc/services,
 /etc/rpc, /etc/protocols and /etc/ethertypes.
