Source: kodi-audioencoder-vorbis
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-addon-dev, make, libtool, libvorbis-dev
Standards-Version: 4.1.2
Section: libs
Homepage: https://kodi.org

Package: kodi-audioencoder-vorbis
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Vorbis audio encoder for Kodi
 Vorbis audio encoder for Kodi

Package: kodi-audioencoder-vorbis-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Vorbis audio encoder for Kodi
 debug symbols for Vorbis audio encoder for Kodi

