*.c
*.h
!compat.h
*.cmd
.config
.config.old
firmware/av7110/
firmware/cpia2/
firmware/ttusb-budget/
firmware/vicam/
firmware/ihex2fw
Kconfig
.kconfig.dep
Kconfig.kern
*.ko
*.ko.unsigned
Makefile.media
modules.order
Module.symvers
.myconfig
*.o
.*.o.d
oss
.*.o.tmp
.tmp*
.version
