Source: kodi-audiodecoder-fluidsynth
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-addon-dev, libfluidsynth-dev
Standards-Version: 4.1.2
Section: libs
Homepage: https://kodi.tv

Package: kodi-audiodecoder-fluidsynth
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fluid-soundfont-gm
Description: Fluidsynth audio decoder for Kodi
 Fluidsynth Midi audio decoder for Kodi

Package: kodi-audiodecoder-fluidsynth-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Fluidsynth audio decoder for Kodi
 debug symbols for Fluidsynth Midi audio decoder for Kodi

