<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="mame2015_alternate_renderer" values="disabled|enabled" default="disabled"/>
		<setting label="30002" type="select" id="mame2015_auto_save" values="disabled|enabled" default="disabled"/>
		<setting label="30003" type="select" id="mame2015_boot_from_cli" values="disabled|enabled" default="disabled"/>
		<setting label="30004" type="select" id="mame2015_boot_to_osd" values="disabled|enabled" default="disabled"/>
		<setting label="30005" type="select" id="mame2015_cheats_enable" values="disabled|enabled" default="disabled"/>
		<setting label="30006" type="select" id="mame2015_hide_infoscreen" values="disabled|enabled" default="disabled"/>
		<setting label="30007" type="select" id="mame2015_hide_nagscreen" values="disabled|enabled" default="disabled"/>
		<setting label="30008" type="select" id="mame2015_hide_warnings" values="disabled|enabled" default="disabled"/>
		<setting label="30009" type="select" id="mame2015_mouse_enable" values="disabled|enabled" default="disabled"/>
		<setting label="30010" type="select" id="mame2015_read_config" values="disabled|enabled" default="disabled"/>
		<setting label="30011" type="select" id="mame2015_throttle" values="disabled|enabled" default="disabled"/>
	</category>
</settings>
