# Make the lircd-uinput /dev/input user device visible as /dev/lircd-uinput
SUBSYSTEMS=="input",ATTRS{name}=="lircd-uinput",SYMLINK+="lircd-uinput"

# Make the lircmd /dev/input user device visible as /dev/lircmd
SUBSYSTEMS=="input",ATTRS{name}=="lircmd",SYMLINK+="lircmd"
#
# Make /dev/uinput accessible for the lirc group. A setfacl RUN would be
# better here, but seemingly does not work (?)
# An alternative is to use lircd-setup(8) to sun setfacl(1).
## KERNEL=="uinput",GROUP:="lirc",MODE:="0660"
