Source: kodi-pvr-mediaportal-tvserver
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, libtinyxml-dev,
               libp8-platform-dev, kodi-addon-dev
Standards-Version: 4.1.2
Section: libs
Homepage: http://kodi.tv

Package: kodi-pvr-mediaportal-tvserver
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MediaPortal PVR for Kodi
 MediaPortal PVR for Kodi

Package: kodi-pvr-mediaportal-tvserver-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for MediaPortal PVR for Kodi
 debug symbols for the MediaPortal PVR for Kodi

