Source: kodi-game-libretro-mrboom
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-mrboom (>= 5.0.0) | mrboom (>= 5.0.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-mrboom
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: Mr.Boom (Bomberman) core for kodi's retroplayer
 Mr.Boom (Bomberman) core for kodi's retroplayer
