Source: kodi-audiodecoder-openmpt
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-addon-dev,
               libopenmpt-dev
Standards-Version: 4.1.2
Section: libs
Homepage: https://kodi.tv

Package: kodi-audiodecoder-openmpt
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenMPT audio decoder for Kodi
  OpenMPT audio decoder for Kodi

Package: kodi-audiodecoder-openmpt-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for OpenMPT audio decoder for Kodi
  debug symbols for OpenMPT audio decoder for Kodi
