a:link {color:#7070E0;}
a:visited {color:#808080;}
a:active {color:#9090ff;}

/*
 * We need all elements which is not part of the top menu
 * to have 10% left margin. Kind of tricky and dirty.
 */
body > a, body > p, body > code, body > em, h2 + b, p + b, br + b {
    margin-left: 10%; }

div > dt {
    margin-left: 0px; }

h1, h2, h3, h4 ,li, div, td, dt,  hr, div, pre, table {
    margin-left: 10%; }

body > a, p, h1, h2, h3, h4, li, div, td, hr, div {
    margin-right: 10%; }

dt  {
    margin-right: 0px;
    text-align: left; }
dd  {
    text-align: left;
    margin-right: 10%;
    margin-left: 20%; }
p   {
    text-align:left; }
h1  {
    text-align:center; }
hr  {
    text-align:center; }
body {
    background-image: url("../images/marb18.jpg");
    background-color: #FFFFFF;
    color: #000000; }
.footer {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 2%; }

/* Definitions for top menu. */
img.menuimg {
    height: 100px;
    padding: 0px;
    border: 0px;
    margin-right: 0px;
    margin-left: 0px }
.menu {
    margin-left: 0;
    height: 150px;
    width: 100%;
    border-width: 0px;
    border-spacing: 0px;
    padding: 0px;
    color:#C0C0C0;
    background-color:#000080;
    font-weight:bold; }
.menuhead {
     color:#FFFFFF;
     background-color:#6060C0;
     font-weight:bold;
     text-align:center; }
